
.soft{
    background-color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
}
.strong{
    font-size: larger;
    font-variant-caps: normal;
    color: rgb(10, 164, 160);
    
}
h2{
    color: rgb(238, 182, 130);
    font-stretch: ultra-expanded;
}
#head{
    font-size: larger;
    color: indianred;
}
#yex{
    background-position: 100cm;
    background-color: inherit;
    font-style: oblique;
    font-synthesis: weight;
    font-size: 20px;
}
html{
    background-color: khaki;
    
}
img{
    background-position-x: 30pt;
}